.form__text {
    margin: 0;
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 425px) {
    .form__text {
        margin: 0 22px 23px;
    }
}