.profile__info {
    position: relative;
    margin: 0 30px 0;
    color: white;
    flex-grow: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: fit-content(100%) max-content;
    grid-template-rows: fit-content(100%) max-content;
    grid-template-areas:
        "name edit-button"
        "status .";
    gap: 12px 24px;
}

@media screen and (max-width: 425px) {
    .profile__info {
        margin: 0 auto 32px;
        left: 14px;
        gap: 8px 10px;
        max-width: 252px;
    }
}